.banner{
  background-image: url('../../../../../../../../resta-ang-img/Food-Banner.jpg');
  height: 75vh;
  background-position: center;
  background-size: cover;
}

.banner h1{
  color: white;
  font-size:50px ;
  top: 30%;
  left: 30%;
  position: absolute;
}
