.banner{
  background-image: url('../../../../../../../../resta-ang-img/Food-Banner.jpg');
  height: 75vh;
  background-position: center;
  background-size: cover;
}

.banner #upper_heading
{
  color: orangered;
  // font-style: bold;
  font-size:60px ;
  top: 17%;
  left: 30%;
  position: absolute;
}


 #lower_heading
{
  color: orange;
  // font-style: bold;
  font-size:60px ;
  top: 17%;
  left: 30%;
  position: absolute;
}
