<div class="banner">
  <div class="content">
    <h1 class="mb-2">Fresh Cooked Food <br /><span>At Your Door.</span></h1>
    <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<div class="container-fluid mt-4 mb-3 ">
  <h1 class="text-center mt-4">How to Get<span class="highlight">Fresh Food</span></h1>
  <div class="row mt-5">

    <div class="col-lg-4">
      <div class="stepbox">
        <h1>1</h1>
        <p>Select Food</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="stepbox">
        <h1>2</h1>
        <p>Fill the Details</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="stepbox">
        <h1>3</h1>
        <p>Your Order will be delivered in minutes</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4    ">
  <h1 class="text-center" >Customers<span class="highlight">Favourite Food</span> </h1>
  <div class="row">
    <div class="col-lg-3" *ngFor="let item of foodData;index as i">
      <div class="foodBox" *ngIf="i<=3">
        <img src="{{item.foodImg}}" alt="">
        <h1>{{item.foodName}}</h1>
        <p>{{item.foodPrice | currency:'INR'}}</p>
      </div>
    </div>
  </div>
  <a routerLink="menu" class="viewmorebtn"  >View More <i class="bi bi-arrow-right"></i></a>
</div>
