.foodBox img{
  width:100%;
  height:250px;
  object-fit: cover;
  border-radius: 5px;
}

.foodBox{
  padding: 50px 10px;
}

.buybtn{
  text-decoration: none;
  color: black;
  padding: 10px 5px;
  // width:20%;

  background: var(--primary-color);

}
